@model IEnumerable<WebApplication1.Models.OrderItems>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.O)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.O.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P.ProductName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Oiid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Oiid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Oiid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
